<div id="<%= dom_id(tweet) %>" class="card card-body mb-3" data-controller="inline-edit">
  <div class="row">
    <div class="col-sm-6">
      <div><%= tweet.user.name %></div>
    </div>
    <div class="col-sm-6 text-right">
      <div class="text-muted"><small><%= tweet.created_at %></small></div>
    </div>
  </div>

  <div data-target="inline-edit.body" data-action="click->inline-edit#toggle"><%= tweet.body %></div>

  <% if tweet.photo.attached? %>
    <% if tweet.photo.variable? %>
      <div class="row">
        <div class="col-sm-10 offset-sm-1">
          <%= image_tag tweet.photo.variant(resize: "400x400") %>
        </div>
      </div>
    <% elsif tweet.photo.previewable? %>
      <div class="row">
        <div class="col-sm-10 offset-sm-1">
          <%= link_to image_tag(tweet.photo.preview(resize: "400x400")), tweet.photo %>
        </div>
      </div>
    <% end %>

  <% end %>

  <%= render "form", tweet: tweet, class: "d-none" %>
</div>
