<div id="<%= dom_id(tweet) %>" class="card card-body mb-3" data-controller="inline-edit">
  <div class="row">
    <div class="col-sm-6">
      <div><%= tweet.user.name %></div>
    </div>
    <div class="col-sm-6 text-right">
      <div class="text-muted"><small><%= tweet.created_at %></small></div>
    </div>
  </div>

  <div data-target="inline-edit.body" data-action="click->inline-edit#toggle"><%= tweet.body %></div>

  <% if tweet.photo.attached? %>
    <% if tweet.photo.variable? %>
      <div class="row">
        <div class="col-sm-8 offset-sm-2 text-center">
          <%= image_tag tweet.photo, class: "img-fluid" %>
        </div>
      </div>
    <% elsif tweet.photo.previewable? %>
      <div class="row">
        <div class="col-sm-8 offset-sm-2 text-center">
          <%= image_tag tweet.photo.preview(resize: "600x600"), class: "img-fluid" %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-sm-12 text-center my-1">
        <%= link_to "Remove Photo", {:controller => :tweets, :action => 'remove_photo', :id => tweet.id }, :method => :delete, class: 'btn btn-danger d-none', data: { target: "inline-edit.delete" } %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-12">
      <%= render "form", tweet: tweet, class: "d-none" %>
    </div>
  </div>
</div>
